.rootCajaContainer {
    padding: 20px 2vw 2vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    height: calc( 100vh - 64px) ;
}

.grid-list{
    width: 100%;
    box-sizing: border-box;
}

.lista-productos{
    height: 90%;
    align-self: center;
    overflow-y: auto;
    width: 60%;
    box-sizing: border-box;
    padding: 20px 1em;
    display: flex;
}

.getBack, .goAhead {
    margin: 20px;
    align-self: center;
    cursor: pointer;
}

.show_list_item_to_sell{
    align-self: center;
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    box-sizing: border-box;
    text-align: left;
    padding: 20px 2em;
}

.finalizar_compra{
    text-align: right;
}

.showProductsContainer{
    display: flex;
    box-sizing: border-box;
}
