
.products-manager{
    padding: 1% 3%;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.products-manager .view{
    width:20%;
}
.products-manager .search{
    width:50%;
}
.products-manager .filter{
    width:30%;
}
.admin-products-list{
    padding:1% 8%
}




.drawer-categorias{
    position: relative;
}
.drawer-categorias a{
    text-decoration: none;
    color:black;
}
.close-menu-button{
    position: absolute;
    top:0px;
    right:0px;
}

.inv-lista-productos{
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
}

.inventario-card{
    margin:0 2% 2% 2%;
    border-radius: 3px;

}
.inventario-card:hover{
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,.2);
}
.add-item-in-card{
    display: flex;
    justify-content: center;
}
.add-item-in-card input{
    width: 30%;
}

.grid-list{
    width: 100%;
    box-sizing: border-box;
}

.add-form-button{
    position: fixed;
    bottom: 20px;
    right:20px;
}
/*image class*/
.product_image{
    width: 100%;
    height: 200px;
    max-height: 200px;
    min-height:200px;
}
.product_image_form{
    cursor: pointer;
    width: 60%;
    height: 150px;
    max-height: 150px;
    min-height:150px;

}
.upload_photo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loader_photo{
    position: absolute;
    top:20%;
    left:35%;
}