
.drawer-categorias{
    position: relative;
}
.drawer-categorias a{
    text-decoration: none;
    color:black;
}
.close-menu-button{
    position: absolute;
    top:0px;
    right:0px;
}

.lista-productos{
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
}

.inventario-card{
    margin:0 2% 2% 2%;
    border-radius: 3px;
}
.inventario-card:hover{
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,.2);
}
.add-item-in-card{
    display: flex;
    justify-content: center;
}
.add-item-in-card input{
    width: 30%;
}

.grid-list{
    width: 100%;
    box-sizing: border-box;
}

.add-form-button{
    position: fixed;
    bottom: 20px;
    right:20px;
}